*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.button{
	text-align: center;
}
.simpleButton{
	background-color: red;
	padding: .5rem 1rem;
	border: none;
	font-weight: bolder;
	color: white;
	border-radius: 6px;
	box-shadow: 2px 2px 1px gray;
}

.simpleButton:active{
	transform: translateY(2px);
	box-shadow: 0px 0px 1px gray;
}
