*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.button{
	background-color: aqua;
	text-align: center;
}
.simpleButton{
	background-color: red;
	padding: .5rem 1rem;
	border: none;
	font-weight: bolder;
	color: white;
	border-radius: 6px;
}
